<h3>Drop tables</h3>

In [ ]:
%sql DROP TABLE IF EXISTS life_expectancy_2010_2015

In [ ]:
%sql DROP TABLE IF EXISTS life_expectancy_2018

In [ ]:
%sql DROP TABLE IF EXISTS us_regions

In [ ]:
%sql DROP TABLE IF EXISTS us_gdp

<h3>Create tables</h3>

In [ ]:
%sql CREATE TABLE life_expectancy_2010_2015 (
   State varchar(32),
   County varchar(32),
   CensusTractNumber varchar(32),
   LifeExpectancy decimal(4,2),
   LifeExpectancyRange varchar,
   LifeExpectancyStandardError decimal(4,2)
)

In [ ]:
#random select statement

In [ ]:
%sql CREATE TABLE life_expectancy_2018 (
   State varchar(32),
   Sex varchar(32),
   LEB decimal(3,1),
   SE decimal(3,1),
   Quartile varchar(32)
)

In [ ]:
%sql CREATE TABLE us_regions (
   State varchar(32),
   StateCode varchar(2),
   Region varchar(32),
   Division varchar(32)
)

In [ ]:
#randome code

In [ ]:
%sql CREATE TABLE us_gdp (
   County varchar(32),
   Year2017 bigint,
   Year2018 bigint,
   Year2019 bigint,
   Year2020 bigint
)